<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/styles/site.css" rel="stylesheet" />
        @RenderSection("head", required: false)
    </head>
    <body>
        <main>
            @RenderBody()
        </main>
        <header>
            @RenderSection("pageheader", required: false)
        </header>
        <footer>
            @RenderSection("pagefooter")
            <hr />
            <a class="credits" href='https://www.freepik.com/free-vector/grey-square-pattern-background-vector-illustration_1265271.htm'>Background Image Designed by Freepik</a>
            <a class="credits" href="https://www.freepik.com/free-vector/hexagonal-pattern_852781.htm">Background Image Designed by Freepik</a>
            <a class="credits" href="https://www.freepik.com/free-vector/vector-abstract-3d-hexagonal_1306503.htm">Banner Designed by Freepik</a>
        </footer>
        <nav>
            @RenderPage("~/_Menu.cshtml")
        </nav>
    </body>
</html>
